*{
  margin: 0;
  padding: 0;
}

body{
    background: #e7e2e7;
    height: 2000px;

}
.bb {
    height: 600px;
    font-weight: bold;
    text-align: center;
    line-height: 400px;
}
.nav{
    background: white;
    list-style: none;
	display: block;
    width: 150px;
    position: fixed;
	top: 100px;
    left: 10px;
    transition: (all 5s ease);
	padding: 10px 0px;
    background-size: 50% 100%;
    border: 5px dashed pink;
 
}
.nav li{
    margin: 5px 0 0 0;
}

.nav a{
    text-decoration: none;
    transition: all 0.3s ease-out;
	background: #f38888 ;
	color: #034614;
	padding: 7px 15px 7px 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
    width: 100px;
	display: block;
	text-decoration: none;
	box-shadow: 2px 2px 4px #888;
}
.nav li a:hover {
    background: #b85757 ;
    color: #6abd1c;
    padding: 7px 15px 7px 40px;
}

