* {
    margin: 0;
    padding: 0;
}

#box {
    width: 1000px;
    border: 1px solid #000;
    margin: 10px auto;
}

#tab {
    width: 100%;
    display: block;
    overflow: hidden;
    background: #333;
}

#tab li {
    float: left;
    list-style: none;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

#tab li a {
    text-decoration: none;
    padding: 0 25px;
    color: #fff;
}

#tab li.sec {
    background: #ddd;
}

#tab li.sec a {
    color: #333;
}

#text {
    width: 100%;
    height: 500px;
    background: #f2f2f2;
  
}

#text>div {
    display: none;
   
}

#text>div.cur {
    display: block;
}

.main{
    list-style: none;
    margin-left: 10px;
}
h1{
    text-align: center;
}